:root {
--roxo-principal: #8257E5;
--roxo-hover: #633BBC;
--fundo: #0A0A0C;
--secoes: #15151a;
--cards: #1f1f26;
--textos: #F8FAFC;
--subtitulos: #A1A1AA;
--outline: #3a3a3e;
}

/* #region predefinição */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, p, span {
    color: var(--textos);
}

body {
    background-color: var(--fundo);
}

@font-face {
    font-family: "Varino";
    src: url(fonts/Varino\ -\ Normal.otf);
}


.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* #endregion */

/* #region header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--secoes);
    height: 80px;
}

.logo-site {
    color: var(--roxo-principal);
    display: inline-block;
    font-family: Varino;
    font-weight: 600;
    font-size: 20px;
    transition: 1.0s ease;
}

.logo-site:hover {
    transform: scale(1.1);
}

.links > a {
    margin: 10px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: var(--textos);
}

.links > a:hover {
    color: var(--roxo-hover);
    transition: 0.3s ease;
}
/* #endregion */

/* #region home */
#home {
    background-color: var(--fundo);
    padding-top: 80px;
}

#home > .container {
    padding: 50px;
}

.textos-home > h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.textos-home > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    /* border: 1px solid red; */
    width: 100%;
    max-width: 650px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.textos-home > a {
    text-align: center;
    display: block;
    width: 160px;
    color: var(--textos);
    background-color: var(--roxo-principal);
    border-radius: 5px;
    padding: 10px 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.textos-home > a:hover {
    background-color: var(--roxo-hover);
    transition: 0.3s;
    transform: translateY(-5px);
}

.foto-wedson{
    max-width: 200px;
    border-radius: 100px;
    box-shadow: 5px 10px 0px var(--roxo-principal);
}
/* #endregion */

/* #region skills */
#skills {
    background-color: var(--secoes);
}

#skills > .container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

#skills > .container > h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cards {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--cards);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 120px;
}

.skill-card:hover {
    box-shadow: 0px 2px 15px #643bbc81 ;
    transition: 0.5s;
    transform: translateY(-5px);
}

.skill-card > i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: var(--roxo-principal);
}

.skill-card > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/* #endregion */

/* #region principais projetos */
    #projects {
        background-color: var(--fundo);
    }

    #projects > .container {
        padding: 50px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #projects > .container > h2 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

    .cards2 {
        display: flex;
        flex-direction: row ;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        margin-top: 30px;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--secoes);
        border: 1px solid #3a3a3e;
        border-radius: 10px;
        width: 300px;
        height: 380px;
        padding: 20px;
    }

    .project-card:hover {
        border: 1px solid var(--roxo-hover) ;
    }

    .img-project {
        max-width: 100%;
        border-radius: 10px;
    }

    .title-project {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .ano-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 20px;

    }

    .ano {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: var(--roxo-hover);
        border-radius: 20px;
        padding: 3px 10px;
        font-weight: bold;
        font-size: 14px;
    }

    .area {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: var(--subtitulos);
        font-size: 16px;
    }

    .resumo-projeto {
        padding-bottom: 20px;
        text-align: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;
    }

    .link-projeto {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: auto;
        font-weight: bold;
        font-size: 17px;
        color: var(--roxo-principal);

    }
    
/* #endregion */

/* #region sobre mim */

#sobre-mim {
    background-color: var(--secoes);
}

#sobre-mim > .container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#sobre-mim > .container > h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
}

#sobre-mim > .container > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 15px;
    padding-bottom: 30px;
}

.cards3 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.cards3 > .card-mim {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--cards);
    border: 1px solid var(--outline);
    border-radius: 35px;
    width: 200px;
    height: 40px;
}

.cards3 > .card-mim > i {
    color: var(--roxo-principal);
    font-size: 25px;
}

.cards3 > .card-mim > h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* #endregion */

/* #region footer */

footer {
    background-color: var(--fundo);
}

footer > .container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > .container > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icones {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
}

.icones > a {
    color: var(--textos);
    font-size: 30px;
}

.icones > a:hover{
    color: var(--roxo-hover);
    transition: 0.3s ease;
}

/* #endregion */

/* #region responsividade */
@media (max-width: 992px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
        padding: 20px;
    }

    header {
        height: auto;
        padding: 20px 0;
        position: fixed;
    }
    
    header > .container {
        gap: 15px;
        padding: 0 20px;
    }

    .links {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;
    }

    #home {
        padding-top: 180px; 
        padding-bottom: 50px;
    }
    
    #home > .container {
        flex-direction: column-reverse; 
        gap: 40px;
    }

    .foto-wedson {
        margin: 0 auto;
        display: block;
    }

    .textos-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .textos-home > h1 {
        font-size: 35px;
        text-align: center;
    }

    .textos-home > p {
        width: 100%;
        margin: 20px 0 30px 0;
        text-align: center;
    }

    .textos-home > a {
        margin: 0 auto;
    }

    .cards, .cards2, .cards3 {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .project-card {
        width: 100%;
        max-width: 350px;
        height: auto; 
    }

    .cards3 {
        flex-direction: column;
    }
    
    .cards3 > .card-mim {
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 500px) {
    #home {
        padding-top: 130px; 
    }

    .textos-home > h1 {
        font-size: 28px;
    }

    .textos-home > p {
        font-size: 16px;
    }

    .links > a {
        font-size: 13px;
    }
}
/* #endregion */